<div class="container">
<form  [formGroup]="registerForm">
    
        <h2 class="page-header">Register Details</h2>

    

      <div class="form-group">
        <label for="inputFullName" class="col-lg-2 control-label">Full Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" formControlName="fullname" autofocus="true">
          <br>
        </div>
      </div>
     
    
      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Self Description</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea" formControlName="self_description"></textarea>
          <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
          <br>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Gender</label>
        <div class="col-lg-10">
          <div class="radio">
            <input type="radio"  class="form-contro"  name="gender"  value="Male" formControlName="gender"> Male<br>
           <input type="radio"   class="form-contro" name="gender" value="Female"formControlName="gender"> Female<br>
          <input type="radio"   class="form-contro" name="gender" value="Other"formControlName="gender"> Other
            </div>
        </div>
      </div> 
    


   
      <!-- <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">Contact Number</label>
         <div class="col-lg-10">
      <input type="text" class="form-control" id="Contact number" placeholder="07########" formControlName="telephone" >
      <br>
      </div>
      </div> -->



<!-- 
      <div class="form-group">
          <label for="profession" class="col-lg-2 control-label">Select your profession</label>
          <div class="col-lg-10">
          <select class="custom-select" formControlName="profession">
            <option selected="">Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          
        </div>
      </div> -->
      <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">DOB</label>
        <div class="col-lg-10">
      <input type="date" class="form-control" id="dob" formControlName="dob" >
      <br>
      </div>
      </div>

      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Image</label>
      <div class="col-lg-10">
    <input type="file" id="image" name="image" value="image"  (change)="onFileChanged($event)" accept="image/*" [(ngModel)]="img" [ngModelOptions]="{standalone: true}">
    <img src={{b64}} style="max-width: 80%; max-height: 300px;"/>
    <br>
    </div>
    </div>

    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Interest</label>
    <div class="col-lg-10">
      <h4><b>Career Interest Areas</b></h4>
      <input type="checkbox" name="Food1" value="Conventional" [(ngModel)]="Interest.Food1" [ngModelOptions]="{standalone: true}">Conventional<br>
      <input type="checkbox" name="Food2" value="Investigative" [(ngModel)]="Interest.Food2" [ngModelOptions]="{standalone: true}">Investigative<br>
      <input type="checkbox" name="Food3" value="Social" [(ngModel)]="Interest.Food3" [ngModelOptions]="{standalone: true}">Social<br>
      <input type="checkbox" name="Food4" value="Realistic" [(ngModel)]="Interest.Food4" [ngModelOptions]="{standalone: true}">Realistic<br>
      <input type="checkbox" name="Food5" value="Artistic" [(ngModel)]="Interest.Food5" [ngModelOptions]="{standalone: true}">Artistic<br>
      <input type="checkbox" name="Food6" value="Enterprising" [(ngModel)]="Interest.Food6" [ngModelOptions]="{standalone: true}">Enterprising<br>
     

      <h4><b>Hobbies</b></h4>
      <input type="checkbox" name="Hobbies1" value="Reading" [(ngModel)]="Interest.Hobbies1" [ngModelOptions]="{standalone: true}">Reading<br>
      <input type="checkbox" name="Hobbies2" value="Traveling" [(ngModel)]="Interest.Hobbies2" [ngModelOptions]="{standalone: true}">Traveling<br>
      <input type="checkbox" name="Hobbies3" value="Fishing" [(ngModel)]="Interest.Hobbies3" [ngModelOptions]="{standalone: true}">Fishing<br>
      <input type="checkbox" name="Hobbies4" value="Crafts" [(ngModel)]="Interest.Hobbies4" [ngModelOptions]="{standalone: true}">Crafts<br>
      <input type="checkbox" name="Hobbies5" value="Television" [(ngModel)]="Interest.Hobbies5" [ngModelOptions]="{standalone: true}">Television<br>
      <input type="checkbox" name="Hobbies6" value="Bird Watching" [(ngModel)]="Interest.Hobbies6" [ngModelOptions]="{standalone: true}">Bird Watching<br>
      <input type="checkbox" name="Hobbies7" value="Collecting" [(ngModel)]="Interest.Hobbies7" [ngModelOptions]="{standalone: true}">Collecting <br>
      <input type="checkbox" name="Hobbies8" value="Music" [(ngModel)]="Interest.Hobbies8" [ngModelOptions]="{standalone: true}">Music<br>
      <input type="checkbox" name="Hobbies9" value="Video Games" [(ngModel)]="Interest.Hobbies9" [ngModelOptions]="{standalone: true}">Video Games<br><br>
      <h6>Type of Foods</h6>
      <input type="checkbox" name="Drinks1" value="Drinks1" [(ngModel)]="Interest.Drinks1" [ngModelOptions]="{standalone: true}">Drinks1<br>
      <input type="checkbox" name="Drinks2" value="Drinks2" [(ngModel)]="Interest.Drinks2" [ngModelOptions]="{standalone: true}">Drinks2<br>
      <input type="checkbox" name="Drinks3" value="Drinks3" [(ngModel)]="Interest.Drinks3" [ngModelOptions]="{standalone: true}">Drinks3<br><br>
  <br>
  </div>
  </div>

  <div class="form-group">
      <label for="myProf" class="col-lg-2 control-label">My Profession</label>
    <div class="col-lg-10">
        <select name="myProf" [(ngModel)]="myProf" [ngModelOptions]="{standalone: true}">
            <option value="Engineer">Engineer</option>
            <option value="Doctor">Doctor</option>
            <option value="Lecturer">Lecturer</option>
            <option value="Software developer">Software developer</option>
            <option value="Businessman">Businessman</option>
            <option value="Lawyer">Lawyer</option>
            <option value="Sprotman">Sprotman</option>
            <option value="Musician">Musician</option>
          </select>
      <br>
  </div>
  </div>

  <div class="form-group">
      <label for="intProf" class="col-lg-2 control-label">Interested Profession</label>
    <div class="col-lg-10">
        <select name="intProf" [(ngModel)]="intProf" [ngModelOptions]="{standalone: true}">
            <option value="Engineer">Engineer</option>
            <option value="Doctor">Doctor</option>
            <option value="Lecturer">Lecturer</option>
            <option value="Software developer">Software developer</option>
            <option value="Businessman">Businessman</option>
            <option value="Lawyer">Lawyer</option>
            <option value="Sprotman">Sprotman</option>
            <option value="Musician">Musician</option>
          </select>
      <br>
  </div>
  </div>

  

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" id="btnSubmit"class="btn" (click)="register()">save</button>
        </div>
      </div>
 
  </form>
  </div>



  
   
 